footer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    gap: 8px;
}




a{
    padding: 8px;
    box-shadow: 1px 1px 8px black;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 0, 0.247);
    font-family: cursive;
}